body {
    background-color:  #44a882;
    margin: auto;
    height: 100%;
    width: 100%;
        flex-direction: row;
}





.input-style{
    opacity: 0.7;
    border-radius: 5px;
    padding: 5px; 
    margin-bottom:20px;
    width:280px;
    margin-left: 50px;
}

.field {    /* для выравнивания полей формы */
	clear:both; 
	text-align:right; 
    line-height:25px;
    padding-right: 35%;
	
}
.kek {
 /* для выравнивания полей формы */
        float:left;	
       
        width: 69.95%;
    text-align:center;
    background-color: #69bb9c;
	position: relative;
	margin: 0 auto; 
	margin-left: 14.9%;
	padding-top: 30px; 
	padding-bottom: 20px;

    border-radius: 0px 0px 0px 0px;
    border-left: 2px solid #34011e;
    border-top: 2px solid #34011e;
    border-right: 2px solid #34011e;
    border-bottom: 2px solid #34011e;
}


  INPUT.text {
    border: 3px solid #ccc; /* Исходная рамка вокруг поля */
    width: 80%; /* Ширина поля */ 
    opacity: 0.7;
    border-radius: 5px;
    padding: 5px; 
    margin-bottom:20px;
    width:280px;
    margin-left: 50px;
   }
.focus {
    border: 3px solid #39c; /* Рамка при получении фокуса */ 
    width: 80%; /* Ширина поля */ 
    opacity: 0.7;
    border-radius: 5px;
    padding: 5px; 
    margin-bottom:20px;
    width:280px;
    margin-left: 50px;
    background: rgb(206, 223, 231);
   }

   .color-button1, .color-button2, .color-button3  {
      
       text-decoration: none;
        width: 150px;
        height: 50px; 
           text-align: center;
        background: #80cead;
        border: 2px solid #34011e;
        border-radius: 15px 15px 15px 15px;
   }

   textarea {
    width: 90%; /* Ширина поля в процентах */
    height: 200px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
   } 

   .lol {
    border: 3px solid #39c; /* Рамка при получении фокуса */
    width: 90%; /* Ширина поля */ 
    height: 200px;
    resize: none;
    background: rgb(206, 223, 231);
   }

   #items > DIV {
    clear:both; 
	text-align:right; 
    line-height:25px;
   }

header {
    width: 70%;
	background:  #39c;
    height: 90px;
    margin: 0 auto;
    text-align: center;
    border-left: 2px solid #34011e;
    border-top: 2px solid #34011e;
    border-right: 2px solid #34011e;
position: relative;
}